<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="onshape">
<!-- Generated using onshape-to-robot -->
    <!-- Link mid-360_lidar_unit -->
    <link name="mid-360_lidar_unit">
        <inertial>
            <origin xyz="0.0832409 0.045603 0.0400301" rpy="0 0 0"/>
            <mass value="2.37516"/>
            <inertia ixx="0.00386391" ixy="0.000111169" ixz="0.000747081" iyy="0.0126954" iyz="-1.33293e-05" izz="0.0124982"/>
        </inertial>
        <!-- Part nuc_top -->
        <visual>
            <origin xyz="-0.018 0.0175 0.059" rpy="3.14159 -0 0"/>
            <geometry>
                <mesh filename="package://legged_perceptive_description/urdf/nuc_and_lidar/nuc_top.stl"/>
            </geometry>
            <material name="nuc_top_material">
                <color rgba="0.917647 0.917647 0.917647 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.018 0.0175 0.059" rpy="3.14159 -0 0"/>
            <geometry>
                <mesh filename="package://legged_perceptive_description/urdf/nuc_and_lidar/nuc_top.stl"/>
            </geometry>
        </collision>
        <!-- Part mid-360_lidar_unit -->
        <visual>
            <origin xyz="0.027 0.0460004 0.0816128" rpy="6.12323e-17 4.20935e-14 -1.71018e-46"/>
            <geometry>
                <mesh filename="package://legged_perceptive_description/urdf/nuc_and_lidar/mid_360_lidar_unit.stl"/>
            </geometry>
            <material name="mid-360_lidar_unit_material">
                <color rgba="0.615686 0.811765 0.929412 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.027 0.0460004 0.0816128" rpy="6.12323e-17 4.20935e-14 -1.71018e-46"/>
            <geometry>
                <mesh filename="package://legged_perceptive_description/urdf/nuc_and_lidar/mid_360_lidar_unit.stl"/>
            </geometry>
        </collision>
        <!-- Part voltageregulatormount -->
        <visual>
            <origin xyz="0.1705 0.046 0.049" rpy="1.01161e-46 -2.30521e-16 -3.14159"/>
            <geometry>
                <mesh filename="package://legged_perceptive_description/urdf/nuc_and_lidar/voltageregulatormount.stl"/>
            </geometry>
            <material name="voltageregulatormount_material">
                <color rgba="0.615686 0.811765 0.929412 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.1705 0.046 0.049" rpy="1.01161e-46 -2.30521e-16 -3.14159"/>
            <geometry>
                <mesh filename="package://legged_perceptive_description/urdf/nuc_and_lidar/voltageregulatormount.stl"/>
            </geometry>
        </collision>
        <!-- Part nuc -->
        <visual>
            <origin xyz="0.044 0.046 0.05" rpy="3.14159 -0 -1.5708"/>
            <geometry>
                <mesh filename="package://legged_perceptive_description/urdf/nuc_and_lidar/nuc.stl"/>
            </geometry>
            <material name="nuc_material">
                <color rgba="0.4 0.4 0.4 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.044 0.046 0.05" rpy="3.14159 -0 -1.5708"/>
            <geometry>
                <mesh filename="package://legged_perceptive_description/urdf/nuc_and_lidar/nuc.stl"/>
            </geometry>
        </collision>
        <!-- Part nuc_enclosure_side -->
        <visual>
            <origin xyz="0.1175 0.092 -2.60209e-18" rpy="0 -0 3.14159"/>
            <geometry>
                <mesh filename="package://legged_perceptive_description/urdf/nuc_and_lidar/nuc_enclosure_side.stl"/>
            </geometry>
            <material name="nuc_enclosure_side_material">
                <color rgba="0.615686 0.811765 0.929412 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.1175 0.092 -2.60209e-18" rpy="0 -0 3.14159"/>
            <geometry>
                <mesh filename="package://legged_perceptive_description/urdf/nuc_and_lidar/nuc_enclosure_side.stl"/>
            </geometry>
        </collision>
        <!-- Part nuc_enclosure_side_2 -->
        <visual>
            <origin xyz="-0.0305 5.58794e-11 0" rpy="0 -0 0"/>
            <geometry>
                <mesh filename="package://legged_perceptive_description/urdf/nuc_and_lidar/nuc_enclosure_side.stl"/>
            </geometry>
            <material name="nuc_enclosure_side_2_material">
                <color rgba="0.615686 0.811765 0.929412 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.0305 5.58794e-11 0" rpy="0 -0 0"/>
            <geometry>
                <mesh filename="package://legged_perceptive_description/urdf/nuc_and_lidar/nuc_enclosure_side.stl"/>
            </geometry>
        </collision>
        <!-- Part mounting_rail -->
        <visual>
            <origin xyz="0.10975 0.0745 -2.60209e-18" rpy="-6.16298e-33 -1.2326e-32 -2.77556e-17"/>
            <geometry>
                <mesh filename="package://legged_perceptive_description/urdf/nuc_and_lidar/mounting_rail.stl"/>
            </geometry>
            <material name="mounting_rail_material">
                <color rgba="0.980392 0.713725 0.00392157 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.10975 0.0745 -2.60209e-18" rpy="-6.16298e-33 -1.2326e-32 -2.77556e-17"/>
            <geometry>
                <mesh filename="package://legged_perceptive_description/urdf/nuc_and_lidar/mounting_rail.stl"/>
            </geometry>
        </collision>
        <!-- Part psu -->
        <visual>
            <origin xyz="0.169134 0.046 0.063" rpy="-2.30521e-16 -1.01161e-46 -1.5708"/>
            <geometry>
                <mesh filename="package://legged_perceptive_description/urdf/nuc_and_lidar/psu.stl"/>
            </geometry>
            <material name="psu_material">
                <color rgba="0.231373 0.380392 0.705882 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.169134 0.046 0.063" rpy="-2.30521e-16 -1.01161e-46 -1.5708"/>
            <geometry>
                <mesh filename="package://legged_perceptive_description/urdf/nuc_and_lidar/psu.stl"/>
            </geometry>
        </collision>
        <!-- Part battery -->
        <visual>
            <origin xyz="0.1725 0.008 0.026" rpy="-1.5708 2.30521e-16 0"/>
            <geometry>
                <mesh filename="package://legged_perceptive_description/urdf/nuc_and_lidar/battery.stl"/>
            </geometry>
            <material name="battery_material">
                <color rgba="0.615686 0.811765 0.929412 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.1725 0.008 0.026" rpy="-1.5708 2.30521e-16 0"/>
            <geometry>
                <mesh filename="package://legged_perceptive_description/urdf/nuc_and_lidar/battery.stl"/>
            </geometry>
        </collision>
        <!-- Part frame -->
        <visual>
            <origin xyz="0.027 0.0460605 0.1336" rpy="-3.14159 2.43709e-17 3.14159"/>
            <geometry>
                <mesh filename="package://legged_perceptive_description/urdf/nuc_and_lidar/frame.stl"/>
            </geometry>
            <material name="frame_material">
                <color rgba="0.615686 0.811765 0.929412 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.027 0.0460605 0.1336" rpy="-3.14159 2.43709e-17 3.14159"/>
            <geometry>
                <mesh filename="package://legged_perceptive_description/urdf/nuc_and_lidar/frame.stl"/>
            </geometry>
        </collision>
        <!-- Part mounting_rail_2 -->
        <visual>
            <origin xyz="0.10975 -0.0175 0" rpy="0 -0 0"/>
            <geometry>
                <mesh filename="package://legged_perceptive_description/urdf/nuc_and_lidar/mounting_rail.stl"/>
            </geometry>
            <material name="mounting_rail_2_material">
                <color rgba="0.980392 0.713725 0.00392157 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.10975 -0.0175 0" rpy="0 -0 0"/>
            <geometry>
                <mesh filename="package://legged_perceptive_description/urdf/nuc_and_lidar/mounting_rail.stl"/>
            </geometry>
        </collision>
        <!-- Part batterymount -->
        <visual>
            <origin xyz="0.1745 0.046 -6.93889e-18" rpy="-2.30521e-16 -0 -1.5708"/>
            <geometry>
                <mesh filename="package://legged_perceptive_description/urdf/nuc_and_lidar/batterymount.stl"/>
            </geometry>
            <material name="batterymount_material">
                <color rgba="0.615686 0.811765 0.929412 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.1745 0.046 -6.93889e-18" rpy="-2.30521e-16 -0 -1.5708"/>
            <geometry>
                <mesh filename="package://legged_perceptive_description/urdf/nuc_and_lidar/batterymount.stl"/>
            </geometry>
        </collision>
    </link>
    <!-- Frame livox (dummy link + fixed joint) -->
    <link name="livox">
        <origin xyz="0 0 0" rpy="0 -0 0"/>
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1e-9"/>
            <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
        </inertial>
    </link>
    <joint name="livox_frame" type="fixed">
        <origin xyz="0.027 0.0460605 0.1336" rpy="-3.14159 2.43709e-17 3.14159"/>
        <parent link="mid-360_lidar_unit"/>
        <child link="livox"/>
        <axis xyz="0 0 0"/>
    </joint>
</robot>
