<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Define properties for laser sensor -->
  <xacro:property name="M_PI" value="3.14159"/> 
  <xacro:property name="laser_min_range" value="0.1"/>
  <xacro:property name="laser_max_range" value="200.0"/>
  <xacro:property name="samples" value="24000"/>
  <xacro:property name="downsample" value="1"/>
  
  <!-- Define null inertial for lighter links -->
  <xacro:macro name="null_inertial">
    <inertial>
      <mass value="0.1"/>
      <inertia ixx="0.01" ixy="0" ixz="0"
               iyy="0.01" iyz="0"
               izz="0.01"/>
    </inertial>
  </xacro:macro>

  <!-- Define the main Livox Mid360 sensor macro -->
  <xacro:macro name="Livox_Mid360" params="name parent *origin ros_topic:=livox visualize:=True update_rate:=10 resolution:=0.002 noise_mean:=0.0 noise_stddev:=0.01">

    <!-- Sensor base link with physical and visual details -->
    <link name="${name}_base">
      <inertial>
        <origin rpy="0 0 0" xyz="0 0 -0.0076"/>
        <mass value="0.270"/>
        <inertia
          ixx="${(2*0.270)/5.0*(0.022*0.022)}" ixy="0.0" ixz="0.0"
          iyy="${(2*0.270)/5.0*(0.022*0.022)}" iyz="0.0"
          izz="${(2*0.270)/5.0*(0.022*0.022)}"/>
      </inertial>
      
      <!-- Visual using sphere -->
      <visual>
            <origin rpy="0 0 0" xyz="0 0 -0.0076"/>
            <geometry>
                <sphere radius="0.022"/>
            </geometry>
            <color rgba="0.0 0.0 0.5 0.5"/>
      </visual>
    </link>

    <!-- Joint to attach sensor to parent link -->
    <joint name="${name}_to_${name}_base_joint" type="fixed">
        <xacro:insert_block name="origin"/>
        <parent link="${parent}"/>
        <child link="${name}_base"/>
    </joint>

    <!-- Gazebo sensor plugin for visualization and sensor properties -->
    <gazebo reference="${name}_base">
      <sensor type="ray" name="laser_${name}">
        <pose>0 0 0 0 0 0</pose>
        <visualize>${visualize}</visualize>
        <update_rate>${update_rate}</update_rate>
        <plugin name="gazebo_ros_laser_controller" filename="liblivox_laser_simulation.so">
          <ray>
            <scan>
              <horizontal>
                <samples>100</samples>
                <resolution>1</resolution>
                <min_angle>0</min_angle>
                <max_angle>${2*M_PI}</max_angle>
              </horizontal>
              <vertical>
                <samples>360</samples>
                <resolution>1</resolution>
                <min_angle>${-7.22/180*M_PI}</min_angle>
                <max_angle>${55.22/180*M_PI}</max_angle>
              </vertical>
            </scan>
            <range>
              <min>${laser_min_range}</min>
              <max>${laser_max_range}</max>
              <resolution>${resolution}</resolution>
            </range>
            <noise>
              <type>gaussian</type>
              <mean>${noise_mean}</mean>
              <stddev>${noise_stddev}</stddev>
            </noise>
          </ray>
          <visualize>${visualize}</visualize>
          <samples>${samples}</samples>
          <downsample>${downsample}</downsample>
          <csv_file_name>package://livox_laser_simulation/scan_mode/mid360.csv</csv_file_name>
          <ros_topic>${ros_topic}</ros_topic>
        </plugin>
      </sensor>
    </gazebo>

  </xacro:macro>
</robot>
